.first__content{
    width: 100%;
    background-image: url(./img/first__content_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 9% 0;
    margin-left: 0 ;
}
.left__content{
    display: flex;
    justify-content: center;
    align-items: center;
    left:0;
}
.left__img{
    width: 50%;
    animation: moving 0.5s linear alternate infinite;
}

@keyframes moving {
    from {
        transform: rotate(-5deg);   
    }
    to {
        transform: rotate(5deg)
    }
}

.right__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.8;
    right: 0;
}

.right__content-title{
    margin-bottom: 20px;
    font-size: var(--title-size);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: var(--primary);
    letter-spacing: 1.4px;
    
}

.right__content-paragraph{
    font-size: var(--text-size);
    font-weight: 600;
    
}
