.header{
    position: fixed;
    left:0;
    right:0;
    top:0;
    height: 60px;
    z-index: 10;
    transition: all 0.4s linear;
}


.header__navbar{
    height: 100%;

}

.navbar__list{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}
.navbar__item{
    text-decoration: none;
    list-style-type: none;
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--primary);
    padding: 20px;
    text-transform: uppercase;
    transition: all 0.4s linear;
    padding: 10px;
    border-radius: 999px;
    position: relative;

}

.header__navbar-open{
    font-size: 3rem;
    color: var(--primary);
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 10px;
    top: 10px;
    display: none;
    transition: all 0.4s linear;
}

