.map__content{
    margin: var(--margin-block) 0;
    padding: 0 30px;
}


.map{
    object-fit: contain;
    flex: 0.1;
}

.map__detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--primary);
    margin-bottom: 5px;

}



.map__detail-item{
    display:flex;
    padding: 5px;
    border-radius: 10px;
}

.map__detail-color{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map__detail-color.darkest-blue{
    background-color: #007092;
}
.map__detail-color.darker-blue{
    background-color:#008ebc;
}
.map__detail-color.dark-blue{
    background-color: #00ace3;
}
.map__detail-color.blue{
    background-color: #54cbf2;
}
.map__detail-color.light-blue{
    background-color: #95dcf4;
}
.map__detail-color.skin-color{
    background-color: #ffedc1;
}
.map__detail-color.none{
    background-color: #b6b6b6;
}
.map__detail-volume{
    font-size: var(--text-size);
    color: var(--text-color); 
    display: flex;
    flex:1;
    justify-content: flex-end;
}
